# Environnement virtuel
venv/
env/
ENV/
.venv

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.local

# Fichier Json
*.json